h1 {
color: black;
font: 42px Arial, sans-serif;
margin-top: 100px;
font-weight: bold;
}

h2 { 
color: gray;
font: 23px Arial, sans-serif;
}

p.logo {
width: 300px;
}
 
#page {
	border: 70px;
}

body {
	margin-left: 10%;
	margin-top: 3%;
}
/* Style the list */
ul.breadcrumb {
    list-style: none;
	margin-left: -40px;
	
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
	font-family: arial, sans-serif;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
p.spacer{
margin-top: 50px;
}
input[type=radio]{
  margin-top: 50px;
  width: 23px;
  height: 23px;
  margin  : 0;
  padding : 0;
  vertical-align: middle;
}


input[type=radio] + label{
  font: 23px arial, sans-serif;
  font-weight: bold;
  padding : 10px;
  vertical-align: middle;
  margin-bottom; 10px;
}

p.button a {
    background-color: green;
    border-style: solid;
	border-color: black;
    border-width: 3px;
	color: white;
    padding: 8px 20px;
	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
	font-family: Arials, sans-serif;
}

p.previous a{
	font-family: Arials, sans-serif;
	font-side: 19px;
}